<div class="content">

  <div class="card-container game">
    <canvas #gameCanvas [width]="ctxWidth" [height]="ctxHeight" style="border:1px solid #000000;">
    </canvas>
    <div class="roomControls">
      <h2>Channel {{channelName}}</h2>

      <mat-form-field class="example-full-width">
        <mat-label>Cameras</mat-label>
        <mat-select [(ngModel)]="selectedDeviceId" (valueChange)="openCamera()">
          <mat-option *ngFor="let camera of cameras" [value]="camera.deviceId">
            {{camera.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button type="button" mat-raised-button color="primary" (click)="createRoom()">
        create Call
      </button>

      <button type="button" mat-raised-button color="primary">
        add PartyList Entry
      </button>

      <mat-form-field class="flex-item">
        <mat-label>Channel</mat-label>
        <input type="text" matInput placeholder="Room XY" [(ngModel)]="callInput">
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="answerCall()">
        answer Call
      </button>
      <div class="ownVideo">
        <video #ownVideo autoplay style="width: 100%;" playsinline></video>
      </div>
    </div>
  </div>
  <div class="remoteVideos">
    <div class="remoteVideo">
      <video #remote1 autoplay style="width: 100%;" playsinline controls="false"></video>
    </div>
    <div class="remoteVideo">
      <video autoplay style="width: 100%;" playsinline controls="false"></video>
    </div>
    <div class="remoteVideo">
      <video autoplay style="width: 100%;" playsinline controls="false"></video>
    </div>
    <div class="remoteVideo">
      <video autoplay style="width: 100%;" playsinline controls="false"></video>
    </div>
  </div>

</div>
